body
{
    background: #202226;
    color: white;
}
.header
{
    background: #2AABEE;
    border-radius: 10px;
}
h1
{
    padding: 5px;
    text-align: center
}
form
{
    padding-top: 10px;
    background: #2b2e34;
    border-radius: 10px;
    border: 1px solid #3e424b;
    text-align: center;
    height: 450px;
    width: 350px;
    margin: auto;
}
input[type="text"], textarea {
    background: #2b2e34;
    color: white;
    border: 1px solid #474c56;
    outline:none;
}
input::placeholder, textarea::placeholder{
    color: #a8a9a9;
}
label
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1c87c9;
}
error
{
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: red;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.error
{
    margin-top: 20px;
}
success
{
    background-color: #a6bb9d;
    border: 1px solid #5f8343;
    color: green;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
#username
{
    border-radius: 5px;
    margin: 1px 20px;
    width: 300px;
    height: 30px;
}
#message
{
    border-radius: 5px;
    resize: none;
    margin: 1px 20px;
    width: 300px;
    height: 150px;
}


.button {
    background: rgb(42, 170, 237);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: none;
    width: 150px;
    padding: 10px 10px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button:hover {
    background: #2a6eec;
}
#theme {
    position: absolute;
    top: 80px;
    left: 0px;
}
#bot_link {
    position: absolute;
    top: 120px;
    left: 0px;
}
